.container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;

}
.col-center{
  grid-column: 2/span 3;
}
.col-right{
  grid-column: 4/span 2;
}
.col-left{
  grid-column: 1/span 2;
}
.col-full{
  grid-column: span 5;
}
.col{
  grid-column: span 1;
}