
html,
body{
  width:8.5in;/* the size of letter paper */
height: 11in;
margin: 0px;
background-color: rgba(0,0,0,0);
}
main{
background-color:  #f3f3f3;
width:8.5in;/* the size of letter paper */
height: 11in;
padding:5px;
font-size: 14px;
line-height: 20px !important;
overflow: hidden;
}
.hide{
  display:none;
}
.print{
  /* only show in print mode */
  display: block;
  text-align: center;
  padding-top:15px;
}
#logo{
  height:0.4in;
  width:0.7in;
  line-height: 0.4in;
  font-size: 0.4in;
  border:2px solid black;
}
h2{
  margin-bottom: 0px;
  margin-top: 5px;
}
section{
  line-height: 20px !important;
  padding:5px;
  margin: 3px;
  box-sizing: border-box;
}
#footer,
.save_to_pdf{
  display:none;
}

p{
  margin:0px;
}
#about_me > p, #education_section{
  padding-left:40px;
}
header{
  height:0.5in;
}
progress{
  display: block;
}
#tech{
  font-size: 12px;
 z-index: 1;
  border:none;
  line-height: 5px;
  grid-column: span 2;
  margin-right:-20px;
  box-sizing: border-box;
}
#skills > *{
  line-height: 12px;
}
#c_project{
  display:none;

}



